* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  background-color: #202020;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.title {
  padding: 5vw 0;
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.users {
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 3%;
  align-items: center;
}

.user {
  padding: 16px 16px;
  border-radius: 20px;
  min-width: auto 250px;
  max-width: 360px;
  min-height: 290px;
  background-color: #dddddd;
  color: rgba(0, 16, 95, 0.6);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: medium;
  -webkit-box-shadow: 0px 10px 10px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 10px 10px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 10px 10px 1px rgba(34, 60, 80, 0.2);
}

.user button {
  padding: 1rem 2rem;
  background-color: rgba(34, 57, 171, 0.6);
  height: 50px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s;
  cursor: pointer;
}

.user button:hover {
  color: #fff;
  background-color: rgba(101, 127, 255, 0.6);
  transform: scale(90%, 90%);
}

.user img {
  min-height: auto 220px;
  align-items: center;
}

.heading:nth-child(4) {
  margin-top: 30px;
}

.dogs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.dogs img {
  width: 680px;
  transition: all 0.5;
}
